<div class="content">
  <% if @current_user.full_name.present? %>
    <h1>Welcome, <%= @current_user.full_name %>!</h1>
  <% else %>
    Welcome!  We're missing your name!
  <% end %>
  <div>
    <%= @current_user.email %>
  </div>
  <div>
    Your session will expire at
    <%= Time.at @current_user.active_session.expiration %>
  </div>

  <div>
    <%= button_to 'Sign Out', sign_out_accounts_path, method: :get, class: "pure-button pure-button-primary" %>
  </div>

</div>
